<div class="login-section">
    <div class="company-logo"><i class="fas fa-biohazard"></i></div>
    <div class="title-area">
      <h2 class="title">Welcome !</h2>
      <p class="sub-title">Sign in by entering the information below</p>
    </div>
    <div class="form-area">
      <form>
        <div class="form-group"> 
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Full Names"> 
        </div>
        <div class="form-group"> 
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your User Password">
        </div>
        <div class="form-group"> 
            <input type="text" class="form-control" id="email1" placeholder="Enter Your Email Address">
          </div>
        <div class="form-option-area">
            <div class="rememberOption">
              <div class="checkbox-area">
                  <input type="checkbox" class="checkbox1">
                  <label for="checkbox1">Remember Me</label>
              </div>
            </div>
            <div class="forgotOption">
              <a href="#"><i class="fas fa-question-circle"></i> Forgotton Password</a>
            </div>
          </div> 
        <button type="submit" class="btn btn-primary btn-block btn-custom">Sign In</button>
      </form>
      <a href="accounts/register" class="userRegister">Don't have an account? Create one here</a>
    </div>
  
  </div>
  