<div class="accountspage">
  <div class="slide-area">
    <div class="slideBox">
      <div class="inner-slideBox">
        <h2 class="title">Lorem Ipsum is simply dummy text of the printing industry.</h2>
        <p class="desc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
      </div>
    </div>
  </div>
  <div class="form-area">
     <div class="action-btn-row">
       <ul>
         <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a routerLink="login">Sign In</a></li>
         <li routerLinkActive="active"><a routerLink="register">Sign Up</a></li>
       </ul> 
     </div> 
     <div class="formBox">
      <router-outlet></router-outlet>
     </div>
    
  </div> 
</div>

